.Button{
    border: .5rem solid var(--color--off-shore);
    border-radius: 4px;
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color:var(--color-quiet-abyss);
    padding: .6rem;
    cursor: pointer;
    background: var(--color--off-shore);


}