.Number{
    font-family:'Heebo', sans-serif;
    font-size:5rem ;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--color--off-shore);


    .hour{

    }
    .minutes{

    }
    .seconds{

    }
    .hourtype{
        margin-left: 1rem;
    }


}